body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}
h4 {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/*main content section*/
.main-content-section {
  padding: 25px 50px;
}

.about-me-profession {
  color: #000;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 17px;
  margin-bottom: 20px;
  background-attachment: fixed;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 0px;
}

.about-me-discription {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.main-content-section {
  display: flex;
  flex-direction: column;
}
.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.my-project-number {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin: 0 5px;
}
.my-project-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-left: 5px;
}
.company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.work-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin: 0 0 10px 0;
}
.duty-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.devider {
  color: #000;
}
.my-work-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.sidebar-section {
  background: #1e2939;
  color: #fff;
  width: 370px;
  padding: 40px 0;
}
.contact-section {
  margin: 50px 0 0 40px;
  padding-right: 5px;
}

.contact-list {
  padding-left: 15px;
}

.tech-skills {
  margin: 40px;
}
.tech-skills-detail {
  color: rgb(255, 187, 0);
  padding-left: 17px;
}
.tech-skills-text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.Soft-Skills {
  margin: 40px;
}
.soft-skills-detail {
  color: rgb(255, 187, 0);
  padding-left: 17px;
}
.soft-skills-text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.contact-section-type {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  margin-right: 7px;
}
.contact-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #f5f6f6;
}
